<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDB.Properties.Settings.MedicareConnectionString"
            connectionString="Server=tcp:itce5yk7x8.database.windows.net,1433;Database=Medicare;User ID=Wecare@itce5yk7x8;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="MyDB.Properties.Settings.MedicareConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Medicare;Integrated Security=True;" />
    </connectionStrings>
</configuration>